
body {
    height: 97vh;
    background: radial-gradient(grey,black);
    font-family: monospace;
}

nav {
    padding-right: 5px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    color: lime;
}


#titulo {
    text-align: center;
    font-size: 50px;
    color: greenyellow;
    text-shadow: 0 0 5px green, 0 0 5px green;
}

.container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.cat {
    border: 2px solid rgb(62, 151, 50);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: limegreen;
    box-shadow: 0 10px;
}

.cat:hover {
    background: rgba(46, 231, 129, 0.1);
    color: lime;
    cursor: pointer;
}

.cat:active {
    background: rgba(0, 0, 0, 0.2);
}

.cat img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cat h2 {
    text-align: center;
}

/* ---Sección del Juego--- */

.container_juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.encabezado {
    background: #fff;
    width: 60%;
    margin-bottom: 15px;
    box-shadow: 0 0 10px 0 lightgreen, 0 0 10px 0 lightgreen;
    border-radius: 10px;
}

.encabezado div {
    padding: 10px;
    font-size: 30px;
}

.categoria {
    opacity: .3;
}

.opcion {
    font-size: 20px;
    background: #fff;
    width: 50%;
    padding: 10px;
    margin: 5px;
}

.opcion:hover {
    transform: scale(1.05);
    cursor: pointer;
}

h3 {
    color: chartreuse;
}

/* ---En caso de respuesta equivocada--- */

.mensaje {
    height: 97vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 200%;
}

h2 {
    text-shadow: 0 0 5px chartreuse;
}

#error {
    color: #ff3636;
}

#correcto {
    color: chartreuse;
}

a {
    text-decoration: none;
}

.acierto {
    background-color: lightgreen;
}

.boton {
    display: inline;
    background: darkgreen;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    margin: 0 auto;
}

.boton:hover {
    background: rgb(0, 68, 0);
}

.rojo {
    background: rgb(228, 37, 37);
}

.rojo:hover {
    background: rgb(182, 30, 30);
}